/* navbar styles */
.navbar-default {
    background-color: #b8e0d2;
    border-color: #809bce;
  }
  .navbar-default .navbar-brand {
    color: #424b4d;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #f4eded;
  }
  .navbar-default .navbar-text {
    color: #424b4d;
  }
  .navbar-default .navbar-nav > li > a {
    color: #424b4d;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #f4eded;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #b8e0d2;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #424b4d;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #f4eded;
    background-color: #809bce;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #809bce;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f4eded;
    background-color: #809bce;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #f4eded;
    background-color: #809bce;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #f4eded;
    background-color: #809bce;
  }
  .navbar-default .navbar-toggle {
    border-color: #809bce;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #809bce;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #424b4d;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #424b4d;
  }
  .navbar-default .navbar-link {
    color: #424b4d;
  }
  .navbar-default .navbar-link:hover {
    color: #f4eded;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #424b4d;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #f4eded;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #f4eded;
      background-color: #809bce;
    }
}

.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}
/*end of nav styles */


/* body styles */
h3, h4 {
    font-weight: bold;
}

body {
    font-family: 'Montserrat', sans-serif;    
}
/*end of body styles */


/*navpills*/
.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover{
  background-color: #809bce;
}

/* wizard styles */
.stepwizard-step p {
    margin-top: 10px; 
    font-weight: bold;
    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*end of wizard styles */


footer {
    font-size: small;
    background-color: #B8E0D2;
    text-align: center;
}

/* box to zoom images */
a.fancybox img {
  border: none;
  box-shadow: 0 1px 7px rgba(0,0,0,0.6);
  -o-transform: scale(1,1); 
  -ms-transform: scale(1,1); 
  -moz-transform: scale(1,1); 
  -webkit-transform: scale(1,1); 
  transform: scale(1,1); 
  -o-transition: all 0.2s ease-in-out; 
  -ms-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -webkit-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
  position: relative; 
  z-index: 999; 
  -o-transform: scale(1.03,1.03);
  -ms-transform: scale(1.03,1.03); 
  -moz-transform: scale(1.03,1.03);
  -webkit-transform: scale(1.03,1.03);
  transform: scale(1.03,1.03);
}